*.log
*.pdb
*.obj
*.tlog
*.lastbuildstate
*.ipdb
*.iobj
*.db
*.suo
3DRendering/x64/Release/Leap.dll
*.opendb
*.idb
*.exe
*.txt
*.user
*.ipch
*.res
*.resources
*.metagen
*.asm
3DRendering/x64/Release/3DRendering.vcxprojAssemblyReference.cache
